.navbar .container {
  display: block;
}
.logo {
  height: 50px;
  width: auto;
  border-radius: 50%;
}
.banner-img {
  width: 100%;
}
.bg-nav {
  background: #3b449f;
}
.nav-links {
  padding-top: 15px;
}
.nav-links a {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #d7d7d7e6;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 17px;
  }
}

.workdiv {
  text-align: center;
  margin-bottom: 50px;
}

.inquire {
  text-align: center;
  border-radius: 30px;
}

.explore {
  text-align: center;
}

.project-management {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.square-box {
  height: 40px;
  width: 40px;
  background-color: #242424;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.box-icon {
  color: #fff;
  line-height: 40px;
}
p.work-desc {
  color: #888686;
  width: 80%;
}
a.learn-more {
  border-bottom: 1px solid #d1d1d1;
  color: #333;
  font-weight: 500;
}
a.learn-more:hover {
  text-decoration: none;
  color: #3b449f;
}
.project_mngt {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.trial {
  padding: 5px 30px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 30px;
}

a.btn-outer-explore {
  padding: 12px 55px;
  border: 1px solid #333;
  border-radius: 50px;
  color: #333;
}
a.btn-outer-explore:hover {
  text-decoration: none;
}

.card-body {
  text-align: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

.explore-center {
  text-align: center;
  border-radius: 20px;
}

.button {
  padding: 12px 35px;
  color: #373e98;
  text-transform: capitalize;
  font-weight: 600;
  background: #fff;
  border-radius: 50px;
}

.button_1 {
  font-size: 10px 40px;
  padding: 12px 35px;

  text-transform: capitalize;
  font-weight: 600;
  background: #fff;
  border-radius: 50px;
}

.btn-price {
  padding: 10px 30px;
  color: #373e98;
  text-transform: capitalize;
  font-weight: 600;
  background: #fff;
  border-radius: 50px;
}
.btn-outlet-price {
  background-color: transparent;
  color: #fff;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 12px 30px;
  text-transform: capitalize;
  font-weight: 700;
}
.section-gap {
  padding: 50px 0;
}

.card-title {
  color: white;
}

.card-text {
  color: white;
}

.text {
  text-align: center;
}

.price {
  background-color: white;
  color: black;
  border-radius: 10px;
}

/* .col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
 */
.bg-blue {
  background-color: #373e98;
}

.picture {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.footer {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.button_1 {
  border-radius: 30px;
}

.button {
  color: #fff;
  background: #000;
  border-radius: 30px 30px;
}
.footer-col {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mt-3 {
  margin-top: 30px !important;
}

.images {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.footer-col ul {
  list-style: none;
  padding-left: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

.images-img {
  height: 70px;
  width: 70px;
  border-radius: 80px;
}
@media (max-width: 500px) {
  .button_1 {
    padding: 12px 20px;
  }
  .button {
    padding: 12px 20px;
  }
  .project-management h3 {
    margin-top: 15px;
  }
}
